.DS_Store
!.gitkeep
.vscode/settings.json
/docker/mysql/data/*
/drawio/*
src/resources/views/test.blade.php
src/public/css/thank.css
src/resources/views/vendor/pagination/bootstrap-4.blade.php
src/resources/views/vendor/pagination/default.blade.php
src/resources/views/vendor/pagination/semantic-ui.blade.php
src/resources/views/vendor/pagination/simple-bootstrap-4.blade.php
src/resources/views/vendor/pagination/simple-default.blade.php
src/resources/views/vendor/pagination/simple-tailwind.blade.php
src/resources/views/vendor/pagination/tailwind.blade.php
src/public/css/test.css
