.contact__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.contact__alert-success {
    padding: 10px 30px;
    border-color: #badbcc;
    background-color: #d1e7dd;
    color: #0f5132;
    animation: fadeOut 8s;
    animation-fill-mode: forwards; /* アニメーション終了後も最終フレームを維持 */
    position: absolute; /* 絶対位置指定 */
    top: 76px; /* 他のコンテンツの上に配置 */
    left: 0; /* 他のコンテンツの左に配置 */
    width: 100%; /* 横幅を親要素いっぱいに */
}

.contact__heading {
    margin-bottom: 40px;
    text-align: center;
}

.contact__page {
    display: flex; /* アイテムを横に配置 */
    justify-content: space-between; /* アイテムを均等に配置 */
    align-items: center; /* 垂直方向の中央寄せ */
    padding: 10px;
    height: 50px;
}

.contact__page-range {
    flex: 1; /* 余ったスペースを均等に分配 */
    padding: 10px;
    font-size: 14px;
}

.contact__page-nav {
    display: flex; /* アイテムを横に配置 */
    align-items: center; /* 垂直方向の中央寄せ */
    margin: 0;
    font-size: 14px;
}

.contact__page-nav ul {
    list-style: none; /* リストスタイルを無効にする */
    padding: 0; /* リストの内側の余白をゼロにする */
    display: flex; /* フレックスコンテナを使用してアイテムを横に配置 */
    justify-content: space-between; /* アイテムを均等に配置 */
    flex-grow: 1; /* 残りのスペースを均等に分配 */
}

.contact__page-nav li {
    padding: 0px 10px 0px 10px;
    border: 1px solid #ccc; /* 外枠の線を表示 */
    margin-right: -1px; /* 重なる部分が太くなるのを解消 */
}

.contact__page-nav li a {
    text-decoration: none; /* 下線を削除 */
    color: black; /* リンクの文字色を変更 */
}

.contact__page-nav li.active {
    background-color: black; /* 背景色を黒に */
    color: white; /* 文字色を白に */
    border: none; /* 下線を削除 */
}

.contact__table {
    display: flex;
    justify-content: center; /* テーブルを水平中央に配置 */
    align-items: center;
}

.contact__table-container {
    margin: 0;
    width: 100%;
    border-collapse: collapse; /* セルの境界線を結合 */
}

.contact__table-container th.contact__table-id,
.contact__table-container td.contact__table-id {
    text-align: center;
    width: 80px;
}

.contact__table-container th,
.contact__table-container td {
    border: none; /* すべての境界線を非表示 */
    padding: 15px;
    text-align: left;
}

.contact__table-container th {
    border-bottom: 1px solid #000; /* ヘッダーセルの下側に境界線を表示 */
}

.contact__table-container td {
    white-space: nowrap; /* テキストの折り返しを無効にする */
}

/* ご意見を省略するためのスタイル */
.contact__table-opinion {
    max-width: 340px; /* 最大幅を設定 */
    white-space: nowrap; /* テキストの折り返しを無効に */
    overflow: hidden;
    text-overflow: ellipsis; /* テキストがはみ出た場合に省略記号(...)を表示 */
}

.contact__table-btn {
    padding: 0px 15px 0px 15px;
    border: none;
    border-radius: 3px;
    background: #000;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
}
